.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  padding: .5em 2em;
  background-color: var(--widget-bg);
}

.navbar-child {
text-align: center;
  flex:1;
}

.navbar-social {
  display: flex;
  gap: 5px;
  justify-content: center;
  font-size: 1.5em;
  color: var(--primary-color);
}

.navbar-social--icon:hover {
  cursor: pointer;
  color: var(--second-color);
}
